<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'post/style.css' %}" />
    <title>Post list</title>
  </head>
  <body>
    <div class="container">
      <div class="Heading">
        <p class="Heading-title">Post details</p>
        <p class="Heading-description">Details of post appear here.</p>
      </div>

      <div class="post">
        <div class="single-post-container">
          <div>
            {% if post.image %}
            <div>
              <img src="{{post.image.url}}" alt="{{post.title}}" />
            </div>
            {% endif %}
          </div>
          <div class="content-container">
            <div>
              <span class="title">{{ post.title }}</span>
              <p class="content">{{ post.content }}</p>
            </div>
            <div class="content-icons">
              <div class="icons">
                <a href="{% url 'edit_post' post.id %}"><i class="fa-solid fa-pen-to-square" style="color:blue"></i></a>

                <form method="POST" action="{% url 'delete_post' post.id %}">
                  {% csrf_token %}
                  <button type="submit"><i class="fa-solid fa-trash" style="color:red"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
